/*Neon Bui
	Section: T-TH
	Description: Style sheet of Movie review of the TMNT (2004)
*/
* {
	font-family: verdana;
}

.body {
	background-image: url("https://codd.cs.gsu.edu/~nbui7/WP/HW/2/background.png");
}

.banner {
	height: 50px;
	background-image: url("https://codd.cs.gsu.edu/~nbui7/WP/HW/2/bannerbackground.png");
	
}

.h1 {
	font-weight: bold;
	font-size: 24pt;
	text-align: center;
}

.main {
	border: 4px solid;
	border-color: gray;
	height: 870px;
	width: 800px;
	margin: auto;
	position: relative;
}

.rating {
	display: flex;
	height: 83px;
	background-image: url("https://codd.cs.gsu.edu/~nbui7/WP/HW/2/rottenbackground.png");
}

.rate {
	display: inline-block;
	color: red;
	font-weight: bold;
	font-size: 48pt;
	margin-top: auto;
}

.general {
	float: right;
	margin-top: -83px;
	background-color: #A2B964;
	height: 860px;
}

.reviewtot {
	color: white;
	font-size: 8pt;
	margin-top: 55px;
}

.flex { 
	display: flex;
}

.flex.col {
	flex-basis: 47%;
	padding: 2%;
	flex-direction: column;
}

.quote {
	border: 2px solid;
	border-color: gray;
	background-color: #E1D697;
}

.inline {
	display: inlne-block;
	font-size: 8pt;
	font-weight: bold;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.img {
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.reviewers {
	font-size: 8.5pt;
	margin-left: 5px; 
	margin-bottom: 3em;
}

.dt {
	font-size: 8pt;
	font-weight: bold;
	margin-left: 8px;
}

.dd {
	font-size: 8pt;
	margin-bottom: 1em;
}

.page {
	background-color: #A2B964;
	text-align: center;
	font-size: 9pt;
	height: 20px;
	width: 800px;
	margin-bottom: -1px;
}

#bottom {
	position: absolute;
	bottom: 0;
}

#validator {
	position: fixed;
	bottom: 0;
	right: 0;
}

#valid {
	position: fixed;
	bottom: 50px;
	right: 0;
}